.main-footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #203040;
     color: #ffffff;
  }
.rowbottom {
   
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .list-none{
    
  }
.list-none li{
  cursor: pointer;
  list-style: none;
  font-size: 20px;
  color: #ffffff;
}
.list-none li:hover{
  color: #e4e7ec;
}
h4{
  font-size:30px;
}
/*.col-sm{
  display:flex;
  text-align:center;
  justify-content:space-between;
}*/
.rowfooter {
  display: flex;
  justify-content: center;
  }

  @media screen and (max-width: 640px){
    .rowbottom {
      display: flex;
      flex-direction:column;
      align-items: center;
    }
    .list-none li{
      cursor: pointer;
      font-size: 10px;
      color: #ffffff;
    }
    h4{
      font-size:12px;
    }
    col{
      width:100%;
    }
  }